*.pyc
/Calibration_AnalysisWithKGE_output_20251030
/Calibration_AnalysisWithKGE_output_20251031
# Generated outputs not used as inputs
/Calibration_AnalysisWithCorrelation_output_20251111/
/Calibration_AnalysisWithCorrelation_output_20251114/
/Calibration_AnalysisWithCorrelation_output_20251120/
/Calibration_AnalysisWithCorrelation_output_20251121/
/Calibration_AnalysisWithCorrelation_output_20251203/
/Calibration_AnalysisWithCorrelation_output_20251206/
/Calibration_AnalysisWithCorrelation_output_20251212/
/Calibration_AnalysisWithCorrelation_output_20251214/
/Calibration_AnalysisWithKGE_2023R1_output_20251212/
/Calibration_AnalysisWithKGE_2024R1_output_20251212/
/Calibration_AnalysisWithKGE_output_20251029/
/Calibration_AnalysisWithKGE_output_20251103/
/Calibration_AnalysisWithKGE_output_20251104/
/Calibration_AnalysisWithKGE_output_20251105/
/Calibration_AnalysisWithKGE_output_20251106/
/Calibration_AnalysisWithKGE_output_20251126/
/Calibration_AnalysisWithKGE_output_20251202/
/Calibration_AnalysisWithKGE_output_20251203/
/Calibration_AnalysisWithKGE_output_20251206/
/Calibration_AnalysisWithKGE_output_20251208/
/Calibration_AnalysisWithKGE_output_20251212/
/Calibration_AnalysisWithKGE_output_20251204/
/Calibration_AnalysisWithKGE_output_20251110/
/Calibration_AnalysisWithKGE_output_tweaks20251202/
/Calibration_AnalysisWithKGE_output_tweaks20251203/
/Calibration_Plots_output*/
/CombineDataWithFunction_half_hr_output20251201/
/CombineDataWithFunction_output20250813/
/CombineDataWithFunction_output20251029/
/CombineDataWithFunction_output20251104/
/CombineDataWithFunction_output20251105/
/CombineDataWithFunction_output20251106/
/CombineDataWithFunction_output20251119/
/CombineDataWithFunction_output20251201/
/FilteredSnowFreeData_output20251029/
/FilteredSnowFreeData_output20251104/
/FilteredSnowFreeData_output20251105/
/FilteredSnowFreeData_output20251119/
/ModCountsProcessing_Des_output20250812/
/ModCountsProcessing_Des_output20251104/
/ModCountsProcessing_UTS_output20250813/
/ModCountsProcessing_UTS_output20251104/
/ModCountsProcessing_UTS_output20251105/
/N0_analyses_output_*/
/Site_specific_predictions_output_20251204/
/Site_specific_predictions_output_20251205/
/__pycache__/
# General Python ignores
*.py[cod]
*.pyo
*.pyd
__pycache__/
.ipynb_checkpoints/
.venv/
venv/
env/
.env
.env.*
*.egg-info/
.eggs/
.DS_Store
# Scripts to ignore
/Half_hour_LOOCV_20251212.py
/Half_hour_LOOCV_tweaks.py
/Calibration_AnalysisWithKGE.py
/Calibration_AnalysisWithKGE_LOOCV.py
/Calibration_Plots.py
/ModCountsProcessing_Des_McJannet.py
/ModCountsProcessing_UTS_McJannet.py
# Outputs used only by the above scripts
/FilteredSnowFreeData_output20250813/
/Calibration_AnalysisWithKGE_output_20251025/
/Data/MockPortableData/Processed_Portable_Des/
/Data/MockPortableData/Processed_Portable_UTS/
/Calibration_AnalysisWithKGE_output_20250813/
